@import url('/node_modules/modern-normalize/modern-normalize.css');
@import url('./css/font.css');

:root {
  --color-black: #040404;
  --color-orange: #e6533c;
  --color-orange-one: #ef8964;
  --color-beige: #efa082;
  --color-white: #efede8;
  --color-rad: #d80027;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}
body {
  background-color: var(--color-black);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
  width: 100%;
  height: 100vh;
  margin: 0;
}
