@import url('/node_modules/modern-normalize/modern-normalize.css');
@import url('./css/font.css');

:root {
  --color-black: #040404;
  --color-orange: #e6533c;
  --color-orange-one: #ef8964;
  --color-beige: #efa082;
  --color-white: #efede8;
  --color-rad: #d80027;


  
  
  --accent-color-grey: rgba(239, 237, 232, 0.3);
  --accent-color-border: rgba(239, 237, 232, 0.2);
  --accent-color-user-ava: rgba(239, 237, 232, 0.1);

  --color-modal-window: rgba(04, 04, 04, 0.4);
  --color-modal-btn-close: rgba(239, 237, 232, 1)
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}
body {
  background-color: var(--color-black);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
  width: 100%;
  height: 100vh;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none
;
}
